.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  border: 4px solid #ffffff;
  text-transform: uppercase;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-decoration: none;
}
