.coach {
  position: relative;
  padding-bottom: 200px;
}

.coach .slider {
  position: relative;
  overflow: hidden;
  max-width: 1160px;
  margin: 0 auto;
}


.coach .slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.coach .slider__item {
  position: relative;
  flex: 0 0 25%;
  max-width: 22.4%;
  margin-right: 40px;
}

.coach .slider__item:last-of-type {
  margin-right: 0;
}

.coach .slider__control {
  position: absolute;
  top: 45%;
  right: 15%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #ffffff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
}

.coach .slider__control_show {
  display: flex;
}

.coach .slider__control:hover,
.coach .slider__control:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.coach .slider__control_left {
  left: 2.5%;
}

.coach .slider__control_right {
  right: 2.4%;
}

.coach .slider__control::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 32px;
  background-size: 100% 100%;
}

.coach .slider__control_left::before {
  background-image: url("../img/control-left.svg");
}

.coach .slider__control_right::before {
  background-image: url("../img/control-right.svg");
}

.coach .slider__item-description {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 294px;
  padding-top: 60px;
  position: absolute;
  top: 0px;
  background-color: rgba(16, 38, 84, 0.89);
  z-index: 4;
}

.coach .slider__item-description span {
  padding-top: 16px;
  font-family: $roboto-condensed;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #b6bdcc;
}

.coach .slider__item-list {
  padding: 0 40px;
  margin-left: 31px;
  margin-top: 32px;
  font-family: $roboto-condensed;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.coach .slider__item-list li {
  padding-bottom: 13px;
}

.coach h3 {
  position: absolute;
  bottom: 8px;
  left: 78px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  z-index: 5;
}

.slider__item:hover h3 {
  top: 34px;
  left: 57px;
}

.slider__item:hover .slider__item-description {
  display: flex;
}

.coach h2 {
  margin-bottom: 54px;
  font-family: $BebasNeue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
}

@media (max-width: $tablet-width) {
  .coach .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 30px;
  }

  .coach .slider {
    margin: 0 auto;
    padding: 0 100px;
  }
}
