.events {
  margin-top: 100px;
  padding-bottom: 150px;
}

.events__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
}

.events__text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #ed0233;
  font-family: $roboto-condensed;
  color: #ffffff;
}

.events__main-info {
  display: flex;
  margin-top: 78px;
}

.events__main-info h2 {
  width: 200px;
  margin: 0;
  margin-right: 50px;
  font-family: $BebasNeue;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  font-weight: normal;
}

.events__dates tbody tr:first-of-type {
  font-size: 18px;
  line-height: 27px;
}

.events__dates tbody:nth-of-type(2) {
  padding-top: 10px;
}

.events__dates tbody tr:nth-of-type(2) {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  border-top: 1px solid;
}

.events__dates table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
}

.events__dates td {
  padding: 0;
}

.events__date:first-of-type {
  padding-right: 7px;
}

.events__date:nth-of-type(2) {
  width: 37px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.events__button {
  width: 343px;
  padding: 24px 25px;
  margin-top: 46px;
  background-color: transparent;
  color: #ffffff;
}

.events__text-block p {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-left: -64px;
  margin-top: 10px;
}

.events__photo-block img {
  height: 100%;
}

@media (max-width: $tablet-width) {
  .events__wrapper {
    flex-direction: row;
    padding: 0 45px;
    max-height: 292px;
  }

  .events__text-block {
    width: 43%;
    padding: 0 45px;
  }

  .events__main-info h2 {
    width: 117px;
    font-size: 52px;
    line-height: 52px;
    margin: 0;
  }

  .events__dates tbody tr:first-of-type {
    font-size: 12px;
    line-height: 18px;
  }

  .events__dates tbody tr:nth-of-type(2) {
    font-size: 24px;
    line-height: 36px;
  }

  .events__date:nth-of-type(2) {
    font-size: 10px;
    line-height: 15px;
  }

  .events__text-block p {
    font-size: 12px;
    line-height: 18px;
    margin: -3px 0 0 -15px;
  }

  .events__button {
    width: 100%;
    padding: 12px 25px;
    margin-top: 31px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    border: solid 2px;
  }

  .events__main-info {
    margin-top: 46px;
  }

  .events__dates {
    margin-left: 29px;
  }

  .events__dates tbody:nth-of-type(2) {
    padding-top: 0;
  }

  .events__photo-block {
    width: 56.9%;
  }
}

@media (max-width: $mobile-width) {
  .events {
    margin-top: 222px;
  }

  .events__wrapper {
    flex-direction: column;
    padding: 0 15px;
  }

  .events__text-block,
  .events__photo-block {
    width: 100%;
  }

  .events__text-block {
    padding-bottom: 49px;
  }

  .events__photo-block img {
    width: 100%;
    height: 292px;
  }
}
