.gym__wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1366px;
  padding-left: 163px;
  padding-right: 103px;
  padding-bottom: 100px;
  padding-top: 120px;
  position: relative;
}

.gym__text-block h2 {
  padding-top: 45px;
  margin: 0;
  font-family: $BebasNeue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
}

.gym__text-block p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: $roboto-condensed;
  color: #102654;
}

.gym__text-block p:first-of-type {
  padding-top: 10px;
  font-size: 18px;
  line-height: 27px;
}

.gym__text-block p:nth-of-type(2) {
  padding-top: 39px;
}

.gym__text-block p:nth-of-type(3) {
  padding-top: 8px;
}

.gym__text-block {
  width: 360px;
}

.gym__video-play {
  width: 72px;
  height: 72px;
  position: absolute;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border-radius: 50%;
  border: none;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.gym__video-preview {
  position: absolute;
  top: 65.2%;
  left: 39.5%;
  width: 364px;
  height: 228px;
  background: url("../img/gym-video-preview@1x.jpg") no-repeat;
  background-position: 50% 50%;
  z-index: 2;
}

.gym__video-preview::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(20, 54, 122, 0.5);
}

.gym__video-play::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  top: -15px;
  left: -14px;
  background: url("../img/play-ellipse-desktop.png") no-repeat;
}

.gym__video-play::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 27px;
  left: 30px;
  background: url("../img/icon-play-desktop.svg") no-repeat;
}

.gym__equipment-img {
  margin-left: 80px;
}

@media (max-width: $tablet-width) {
  .gym__wrapper {
    flex-direction: column;
    padding: 0 45px;
    padding-bottom: 100px;
  }

  .gym__text-block {
    width: auto;
    text-align: center;
    padding: 0 80px;
  }

  .gym__text-block p:nth-of-type(2) {
    padding-top: 35px;
  }

  .gym__text-block p:nth-of-type(3) {
    @include visually-hidden;
  }

  .gym__equipment-img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
  }

  .gym__equipment-img img {
    display: flex;
    height: 345px;
  }

  .gym__text-block h2 {
    font-size: 42px;
    line-height: 42px;
    padding-top: 97px;
  }

  .gym__video-preview {
    width: 266px;
    height: 167px;
    top: 86.9%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gym__video-play {
    width: 52px;
    height: 52px;
    top: 50%;
    left: 50%;
  }

  .gym__video-play::before {
    width: 12px;
    height: 12px;
    top: 20px;
    left: 23px;
    background: url("../img/icon-play-other.svg") no-repeat;
  }

  .gym__video-play::after {
    width: 73px;
    height: 73px;
    top: -10px;
    left: -10px;
    background: url("../img/play-ellipse-other.png") no-repeat;
  }
}

@media (max-width: $mobile-width) {
  .gym__wrapper {
    padding: 0;
  }

  .gym__text-block {
    text-align: left;
    padding: 0 15px;
  }

  .gym__text-block h2 {
    padding-top: 66px;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
  }

  .gym__equipment-img img {
    display: flex;
    height: 313px;
  }

  .gym__video-preview {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
  }

  .gym__text-block p:nth-of-type(2) {
    padding-top: 23px;
    padding-right: 23px;
  }

  .gym__equipment-img {
    margin-top: 33px;
  }
}
