.header__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1366px;
  margin: auto 0;
  padding: 0 103px;
  padding-top: 30px;
}

.header__wrapper a {
  font-family: $BebasNeue;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
}

.header__tel-link {
  margin-left: auto;
}
