.header__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;
  padding-top: 28px;
}

.header__wrapper a {
  font-family: $BebasNeue;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
}

.header__tel-link {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    padding: 37px 45px 0;
  }

  .header__wrapper a {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .header__wrapper {
    padding: 18px 15px 0;
  }

  .header__wrapper a {
    font-size: 20px;
    line-height: 20px;
  }
}
