.subscription {
  position: relative;
  margin-top: 131px;
  padding-bottom: 117px;
  background-color: #f8f9fc;

  &::after {
    content: "";
    position: absolute;
    width: 321px;
    height: 384px;
    right: -34px;
    bottom: 43px;
    background: url("../img/subscription-disks.png") no-repeat;
  }
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  margin: 0 auto;
}

.subscription__choice {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
  width: 341px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.subscription__wrapper h2 {
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
  font-family: $BebasNeue;
  color: #102654;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: normal;
}

.subscription__choice label {
  position: relative;
  font-family: $roboto-condensed;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 38px;
    left: 0;
    background-color: none;
  }
}

.subscription__choice input[type="radio"]:checked + label::after {
  background-color: red;
}

.subscription__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
}

.subscription__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  width: 360px;
  margin-right: 40px;
  background-color: #ffffff;
}

.subscription__list li:hover {
  background: url("../img/subscription-border-desktop.svg") no-repeat;
}

.subscription__list li:last-child {
  margin-right: 0;
}

.subscription__list h3 {
  padding-top: 36px;
  font-family: $roboto-condensed;
  font-size: 26px;
  line-height: 29px;
  font-weight: bold;
  color: #102654;
  margin-bottom: 0;
}

.subscription__list p {
  font-family: $roboto-condensed;
  font-size: 16px;
  line-height: 24px;
  color: #495a7d;
  margin: 0;
  padding-top: 9px;
}

.subscription__list span {
  font-family: $roboto-condensed;
  font-weight: bold;
}

.subscription__price span:first-of-type {
  color: #103aae;
  font-size: 60px;
  line-height: 90px;
  margin-right: 9px;
}

.subscription__background-price {
  position: absolute;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  color: #e8e8e8;
  opacity: 0.48;
  top: 134px;
  z-index: 9;
}

.subscription__link {
  margin-top: 34px;
  margin-bottom: 70px;
  border: 2px solid #102654;
  width: 206px;
  padding: 24px 0;
}

.subscription__link:hover {
  background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
  color: #ffffff;
  border: none;
}

.subscription__price {
  position: relative;
  z-index: 10;
  margin-top: 65px;
}

@media (max-width: $tablet-width) {
  .subscription {
    margin-top: 87px;
    padding-bottom: 64px;
  }

  .subscription__list {
    flex-direction: column;
  }

  .subscription__list li {
    width: 442px;
    margin-left: 37px;
    margin-top: 5px;
    margin-bottom: 34px;
  }

  .subscription__wrapper h2 {
    margin-top: 90px;
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
  }

  .subscription__choice {
    padding-bottom: 11px;
    width: 332px;
  }

  .subscription__list li:hover {
    background: url("../img/subscription-border-tablet.svg") no-repeat;
  }

  .subscription__choice label::after {
    top: 38px;
  }
}

@media (max-width: $mobile-width) {
  .subscription {
    margin-top: 70px;
  }

  .subscription__wrapper {
    padding: 0 15px;
  }

  .subscription__wrapper h2 {
    margin-top: 67px;
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 32px;
  }

  .subscription__choice {
    width: 290px;
  }

  .subscription__choice label {
    font-size: 16px;
    line-height: 24px;
  }

  .subscription__choice label::after {
    top: 35px;
  }

  .subscription__list {
    align-items: center;
    margin: 0;
  }

  .subscription__list li {
    width: 290px;
    margin-left: 0;
    margin-top: 33px;
    margin-bottom: 1px;
    margin-right: 0;
  }

  .subscription__price span:first-of-type {
    font-size: 48px;
    line-height: 72px;
    margin-right: 7px;
  }

  .subscription__background-price {
    top: 118px;
    font-size: 80px;
    line-height: 120px;
  }

  .subscription__list h3 {
    padding-top: 30px;
    font-size: 22px;
    line-height: 24px;
  }

  .subscription__link {
    margin-top: 30px;
    margin-bottom: 54px;
  }

  .subscription__price {
    margin-top: 54px;
  }

  .subscription__price svg {
    width: 24px;
    height: 33px;
  }

  .subscription__list li:hover {
    background: url("../img/subscription-border-mobile.svg") no-repeat;
  }
}
